<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in all_categories %}
                    <a class="dropdown-item" href="/cat/{{category.id}}">{{category.name}}</a> {% endfor %}

                </div>
            </li>{% if request.session.user_id %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if request.session.level == 3 %}
                    <a class="dropdown-item" href="/dashboard">Dashboard</a>
                    <a class="dropdown-item" href="/admin/neworders">New Orders</a>
                    <a class="dropdown-item" href="/admin/products">Products</a>
                    <a class="dropdown-item" href="/admin/add_product">Add Products</a>
                    <a class="dropdown-item" href="/dashboard/account">Edit Account</a>
                    <a class="dropdown-item" href="/admin/store">Edit Store</a>
                    <a class="dropdown-item" href="/admin/pastorders">Past Orders</a>
                    <a class="dropdown-item" href="/favorites">Favorites</a> {% else %}
                    <a class="dropdown-item" href="/dashboard">Dashboard</a>
                    <a class="dropdown-item" href="/dashboard/recent_orders">View Orders</a>
                    <a class="dropdown-item" href="/dashboard/account">Account Info</a>
                    <a class="dropdown-item" href="/favorites">Favorites</a> {% endif %}

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
            </li>{% endif %}

        </ul>
        {% if request.session.user_id %}Hello, {{request.session.username}} &nbsp; <a class="btn btn-primary" href="/logout" role="button">Logout</a>{% else %}<a class="btn btn-primary" href="/register" role="button">Register</a>&nbsp;<a class="btn btn-primary"
            href="/login" role="button">Login</a>{% endif %}
    </div>
</nav>