<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Project</title>
    {% include 'headerimports.html' %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 navbartop">
                {% include 'navbar.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 main">
                <h1 class="store-header">Products</h1>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-primary" href="/admin/add_product" role="button">Add Product</a>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in all_products %}
                                <tr>
                                    <td>{{product.name}}</td>
                                    <td>{{product.stock}}</td>
                                    <td>{{product.amount|floatformat:2}}</td>
                                    <td><a class="btn btn-primary" href="/admin/product/edit/{{product.id}}" role="button">Edit</a></td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>

                        <a class="btn btn-primary" href="/admin/add_product" role="button">Add Product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>